form {
    margin-top: 5vh;
    margin-left: 25%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    border-bottom: 1px solid blue;
    box-shadow: 5px 7px blue; 
    border-radius: 15px;
    border: 1px solid lightblue;
    padding: .1em .5em;
}
input {
    border: none;
    outline: none;
    width: 100%; 
    font-size: 2em;
}

#search-button {
    outline: none;
    background : url('https://image.flaticon.com/icons/svg/70/70490.svg') no-repeat;
    width: 1.5em;
    height: 1.5em;
    border: none;
}

#search-button:hover {
    transform: scale(1.2);
}