.latest-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    margin: 50px;
}

/* override */
.MovieCard-card-1 {
    width: 350px;
}

/* override */
.MuiTypography-h5 {
    font-size: 1.5em !important;
}